* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
    height: 100vh;
}

.div-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divToFade {
    background: hsl(0, 0%, 90%);
    ;
    width: 100%;
    height: 100%;
}