:root {
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 209, 25, 25;
  --color5: 1, 179, 177;
  --color6: 209, 157, 25;
  --blending: hard-light;
  --animation: moveInCircle 1.8s linear 0s infinite normal forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0c0c0c;
}

#loading-animation {
  display: none;
  background-color: #0c0c0c;
  height: 100vh;
  width: 100%;
}

.div-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-to-fade {
  background: #068d9d;
  background: radial-gradient(circle at center, #068d9d 0, transparent 100%);
  width: 100%;
  height: 100%;
}

#loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(30px, 7vw, 70px);
  height: auto;
  aspect-ratio: 1/1;
  background: radial-gradient(black 40%, #068d9d 55%, transparent 59%);
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.99;
}

@keyframes changeContainerOpacity {
  0% {
    background: radial-gradient(black 40%, #068d9d 55%, transparent 56%);
  }
  33% {
    background: radial-gradient(black 40%, #068d9d 55%, transparent 57%);
  }
  66% {
    background: radial-gradient(black 40%, #068d9d 55%, transparent 58%);
  }
  100% {
    background: radial-gradient(black 40%, #068d9d 55%, transparent 59%);
  }
}

@keyframes changeOpacity {
  0% {
    opacity: 0.3;
    color: #fff;
  }
  33% {
    opacity: 0.44;
  }
  66% {
    opacity: 0.57;
  }
  100% {
    opacity: 0.7;
    color: #068d9d;
  }
}

.loader-gradients-container {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(25%, 80%);
  top: 0;
  left: 0;
}

.grad1 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 3%,
      rgba(var(--color1), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--size);
  height: var(--size);
  top: calc(20% - var(--size) / 2);
  left: 50%;
  transform-origin: center center;
  opacity: 1;
  animation: var(--animation);
}

.grad2 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 3%,
      rgba(var(--color2), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--size);
  height: var(--size);
  top: calc(18% - var(--size) / 2);
  left: 50%;
  transform-origin: calc(50% - 25%);
  opacity: 1;
  animation: var(--animation);
}

.grad3 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 3%,
      rgba(var(--color3), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--size);
  height: var(--size);
  top: calc(20% - var(--size) / 2 + 7%);
  left: 60%;
  transform-origin: calc(50% + 25%);
  opacity: 1;
  animation: var(--animation);
}

.grad4 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 3%,
      rgba(var(--color4), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--size);
  height: var(--size);
  top: calc(25% - var(--size) / 2);
  left: 75%;
  transform-origin: calc(50% - 15%);
  opacity: 0.8;
  animation: var(--animation);
}

.grad5 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 4%,
      rgba(var(--color5), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--size) * 1.2);
  height: calc(var(--size) * 1.2);
  top: calc(15% - var(--size));
  left: 60%;
  transform-origin: calc(50% - 20%) calc(50% + 15%);
  opacity: 1;
  animation: var(--animation);
}

.grad6 {
  --size: 20%;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color6), 0.8) 4%,
      rgba(var(--color6), 0) 20%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--size) * 1.3);
  height: calc(var(--size) * 1.3);
  top: calc(15% - var(--size));
  left: 70%;
  transform-origin: calc(50% - 35%) calc(50% + 5%);
  opacity: 1;
  animation: var(--animation);
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* this free little loader spinner comes from https://github.com/vineethtrv/css-loader?tab=MIT-1-ov-file#readme */
.loader {
  margin-top: 22%;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 82%;
  height: 82%;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #068d9d;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
